@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --ui-black: hsla(188, 100%, 3%, 1);
  --ui-gray-1: hsla(0, 0%, 31%, 1);
  --ui-gray-2: hsla(0, 0%, 51%, 1);
  --ui-gray-3: hsla(0, 0%, 88%, 1);
  --ui-gray-4: hsla(0, 0%, 95%, 1);
  --ui-gray-5: hsla(0, 0%, 96%, 1);
  --ui-gray-6: hsla(0, 0%, 97%, 1);
  --ui-gray-7: hsla(0, 0%, 99%, 1);
  --ui-white: hsla(0, 0%, 100%, 1);
  --ui-green-1: hsla(154, 72%, 94%, 1);
  --ui-green-2: hsla(156, 70%, 88%, 1);
  --ui-green-3: hsla(188, 97%, 13%, 1);
  --ui-success: hsla(146, 64%, 36%, 1);

  --radius: 0.875rem;

  --background: hsla(0, 0%, 100%, 1);
  --foreground: hsla(188, 100%, 3%, 1);
  --card: hsla(0, 0%, 100%, 1);
  --card-foreground: hsla(188, 100%, 3%, 1);
  --popover: hsla(0, 0%, 100%, 1);
  --popover-foreground: hsla(188, 100%, 3%, 1);
  --primary: hsla(188, 97%, 13%, 1);
  --primary-foreground: hsla(154, 72%, 94%, 1);

  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: hsla(0, 0%, 95%, 1);
  --muted-foreground: hsla(188, 97%, 13%, 1);
  --accent: hsla(0, 0%, 96%, 1);
  --accent-foreground: hsla(188, 97%, 13%, 1);
  --destructive: oklch(0.577 0.245 27.325);

  --border: hsla(0, 0%, 88%, 1);
  --input: hsla(0, 0%, 51%, 1);
  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-ui-black: var(--ui-black);
  --color-ui-gray-1: var(--ui-gray-1);
  --color-ui-gray-2: var(--ui-gray-2);
  --color-ui-gray-3: var(--ui-gray-3);
  --color-ui-gray-4: var(--ui-gray-4);
  --color-ui-gray-5: var(--ui-gray-5);
  --color-ui-gray-6: var(--ui-gray-6);
  --color-ui-gray-7: var(--ui-gray-7);
  --color-ui-white: var(--ui-white);
  --color-ui-green-1: var(--ui-green-1);
  --color-ui-green-2: var(--ui-green-2);
  --color-ui-green-3: var(--ui-green-3);
  --color-ui-success: var(--ui-success);

  --font-outfit: "Outfit", sans-serif;
  --font-clash: "Clash Display", sans-serif;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: hsla(188, 100%, 3%, 1);
  --foreground: hsla(0, 0%, 100%, 1);

  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer utilities {
  .bg-grid {
    @apply *:z-10 before:absolute before:inset-0;
    @apply before:[background-size:40px_40px];
    @apply before:[background-image:linear-gradient(to_right,#e4e4e7_1px,transparent_1px),linear-gradient(to_bottom,#e4e4e7_1px,transparent_1px)];
    @apply before:dark:[background-image:linear-gradient(to_right,#262626_1px,transparent_1px),linear-gradient(to_bottom,#262626_1px,transparent_1px)];
    @apply after:dark:bg-ui-black after:bg-ui-white after:absolute after:inset-0 after:[mask-image:radial-gradient(ellipse_at_center,transparent_20%,hsla(188,100%,3%,1))];
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html {
    font-family: var(--font-outfit);
  }

  body {
    @apply bg-background text-foreground grid min-h-screen overscroll-none scroll-smooth;
  }
}
